html * {
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

:root {
    /* .CVMain */
    --cv-main-max-width: 800px;
    --cv-main-width: 90%;
    --cv-main-margin: 30px auto;
    --cv-main-border-radius: 25px;
    --cv-main-border: 2px solid black;
    --cv-main-bacground-color: white;
    --cv-main-padding: 20px;

    /* .profileImage */
    --profile-image-width-height: 250px;

    /* .nameSurnameDiv */
    --name-surname-div-font-size: 28px;

    /* .contactInfo */
    --contact-info-font-size: 20px;

    /* .infoBr */
    --info-br-visibility: inherit;


    /* .infoIcon */
    --info-icon-width-height: 50px;
    --info-icon-margin: 16px;

    /* .shortInfo */
    --short-info-font-size: 30px;

    /* .mainContent */
    --main-content-font-size: 18px;

    /* .button */
    --button-background-color: white;
    --button-color: black;
    --button-border: 2px solid black;
    --button-margin: 6px;
    --button-padding: 14px 30px;
    --button-width: 200px;
    --button-border-radius: 8px;
    --button-opacity: 0.6;
    --button-cursor: pointer;

    /* .button */
    --button-hover-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.1), 0 17px 50px 0 rgba(0,0,0,0.05);
    --button-hover-opacity: 1;

}

body {
    background-image: url(wall.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.CVMain {
    width: var(--cv-main-width);
    max-width: var(--cv-main-max-width);
    margin: var(--cv-main-margin);
    border-radius: var(--cv-main-border-radius);
    border: var(--cv-main-border);
    background-color: var(--cv-main-background-color);
    padding: var(--cv-main-padding);
}

.infoBr {
    display: var(--info-br-visibility);
}

.profileImage {
    display: block;
    margin-left: inherit;
    margin-right: inherit;
    margin-top: auto;
    margin-bottom: auto;
    float: center;
    width: var(--profile-image-width-height); 
    height: var(--profile-image-width-height);
}

.nameSurnameDiv {
    text-align: center;
    font-size: var(--name-surname-div-font-size);
}

.contactInfo {
    text-align: center;
    font-size: var(--contact-info-font-size);
}

.infoIcon {
    width: var(--info-icon-width-height);
    height: var(--info-icon-width-height);
    margin-left: var(--info-icon-margin);
    margin-right: var(--info-icon-margin);
}

.shortInfo {
    text-align: center;
    font-size: var(--short-info-font-size);
}

.mainContent {
    font-size: var(--main-content-font-size);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: var(--button-border);
    margin: var(--button-margin);
    padding: var(--button-padding);
    width: var(--button-width);
    border-radius: var(--button-border-radius);
    opacity: var(--button-opacity);
    cursor: var(--button-cursor);
}

.button:hover {
    opacity: var(--button-hover-opacity);
    box-shadow: var(--button-hover-box-shadow);
}
